.jumbotron {
  background: rgba(0, 0, 0, 0.2) url('img/bg.jpeg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

